

/*
* {
    border: 1px solid green;
}
*/

body {
    background-color: black;
    color: white;
}

.container {
    margin: auto;
}

.logo {
    display:block;
    margin-top:20px;
}

.logo a {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color: #0A68A5;
    text-decoration: none;
    outline: 0;
}

nav {
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin:auto;
    margin-bottom:20px;
    text-align:center;
}

.link {
    display:inline;
}

.link a {
    color: #0A68A5;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    outline: 0;
}

.currentpage a {
    color: #0A68A5;
    outline: 0;
}

.content {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    background-color: #dddddd;
    color: black;
}

.content a {
    color: #0A68A5;
    outline: 0;
}

.content-title {
    text-align: center;
}

/* code */
.highlighter-rouge {
    background: black;
    color: white;
}
.highlight {
    margin: 0px;
    }
code {
    display: block;
    margin-right: 5px;
    overflow-x: auto;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.inline {
    margin-left: 0;
    margin-right: 5;
    margin-top: 5;
    display: inline;
    vertical-align: middle;
}

footer {
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

/* mults=[1., .96, .90, .84, .78, .72, .66, .59, .53, .47, .40, .34] */

@media screen and (min-width:800px) {
    .logo {
        font-size:137px;
    }
    /*nav {
        width:700px;
    }*/
    .link {
        font-size:30px;
    }
    .content {
        width:700px;
    }
    .content-title {
        font-size:25px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .96 */
@media screen and (max-width:799px) {
    .logo {
        font-size:137px;
    }
    /*nav {
        width:672px;
    }*/
    .link {
        font-size:28.8px;
    }
    .content {
        width:672px;
    }
    .content-title {
        font-size:24px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .90 */
@media screen and (max-width:749px) {
    .logo {
        font-size:123px;
    }
    /*nav {
        width:630px;
    }*/
    .link {
        font-size:27px;
    }
    .content {
        width:630px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .84 */
@media screen and (max-width:699px) {
    .logo {
        font-size:115px;
    }
    /*nav {
        width:588px;
    }*/
    .link {
        font-size:25.2px;
    }
    .content {
        width:588px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .78 */
@media screen and (max-width:649px) {
    .logo {
        font-size:106.9px;
    }
    /*nav {
        width:550px;
    }*/
    .link {
        font-size:23.4px;
    }
    .content {
        width:550px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .72 */
@media screen and (max-width:599px) {
    .logo {
        font-size:98px;
    }
    /*nav {
        width:504px;
    }*/
    .link {
        font-size:21.6px;
    }
    .content {
        width:504px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .66 */
@media screen and (max-width:549px) {
    .logo {
        font-size:90px;
    }
    /*nav {
        width:462px;
    }*/
    .link {
        font-size:19.18px;
    }
    .content {
        width:462px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .59 */
@media screen and (max-width:499px) {
    .logo {
        font-size:81px;
    }
    /*nav {
        width:413px;
    }*/
    .link {
        font-size:17.7px;
    }
    .content {
        width:413px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .53 */
@media screen and (max-width:449px) {
    .logo {
        font-size:72px;
    }
    /*nav {
        width:371px;
    }*/
    .link {
        font-size:15px;
    }
    .content {
        width:371px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .47 */
@media screen and (max-width:399px) {
    .logo {
        font-size:64px;
    }
    /*nav {
        width:329px;
    }*/
    .link {
        font-size:15px;
    }
    .content {
        width:329px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .40 */
@media screen and (max-width:349px) {
    .logo {
        font-size:54px;
    }
    /*nav {
        width:280px;
    }*/
    .link {
        font-size:15px;
    }
    .content {
        width:280px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .34 */
@media screen and (max-width:299px) {
    .logo {
        font-size:46px;
    }
    /*nav {
        width:238px;
    }*/
    .link {
        font-size:15px;
    }
    .content {
        width:238px;
    }
    .content-title {
        font-size:22.5px;
    }
    .content-body {
        font-size:14px;
    }
}
